/* Inherit body from site.css */
.main-container {
    padding: 30px 60px;
}

.back-link {
    color: #8aa0c6;
    margin-bottom: 20px;
    cursor: pointer;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading-btn {
    background-color: var(--bg-secondary);
    color: var(--text-main);
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--border-color);
}

.content-wrapper {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

/* Canvas */

.canvas-section {
    flex: 2;
}

.canvas-box {
    width: 100%;
    min-height: 550px;
    background-color: var(--card-bg);
    border-radius: 15px;
    border: 1px solid var(--card-border);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    border: 4px solid var(--card-border);
    border-top: 4px solid var(--primary);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Right Panel */

.control-panel {
    flex: 1;
}

.card {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid var(--card-border);
    color: var(--text-main);
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stat-box {
    background-color: var(--bg-secondary);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 45%;
}

.colors {
    display: flex;
    gap: 10px;
}

.color {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.blue {
    background: #4e73df;
}

.pink {
    background: #ff007f;
}

.green {
    background: #00ff7f;
}

.yellow {
    background: #ffc107;
}

.orange {
    background: #ff4500;
}

.purple {
    background: #c71585;
}

.white {
    background: #ffffff;
}

.brush {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .brush button {
        width: 35px;
        height: 35px;
        border-radius: 8px;
        background-color: var(--bg-secondary);
        border: 1px solid var(--border-color);
        color: var(--text-main);
        font-size: 18px;
        cursor: pointer;
    }

.tool-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--bg-secondary);
    border: 1px solid var(--card-border);
    color: var(--text-main);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tool-btn:hover {
    background-color: var(--primary);
    color: white;
}
